@import "./variables.scss";
.text-danger {
  color: $color-danger;
}

.text-success {
  color: $color-success;
}

.text-warning {
  color: $color-warning;
}

.text-progress {
  color: $color-progress;
}

.text-primary {
  color: $color-primary;
}
